<section class="food-recipes {{ include.bg }}">
  <h2 class="mb-32">Cozinha rústica</h2>
  <div class="food-recipes-video frame-video-container">
    <div class="full-video-frame">
      <iframe
        width="560"
        height="315"
        src="{{ include.videoUrl }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>