<div class="float-menu">
  <button type="button" id="float-menu-trigger" class="btn-main-menu">
    <img src="{{'/assets/img/icons/nav/menu.svg' | absolute_url}}" alt="Menu dropdown" />
  </button>
  <nav id="float-menu-nav" aria-hidden="true">
    <a href="/">
      <img alt="Home" src="{{'/assets/img/icons/nav/home.svg' | absolute_url}}" />
      <span>Home</span>
    </a>
    <a href="https://www.youtube.com/@mrcaricati" target="_blank" rel="noopener noreferrer">
      <img alt="Youtube" src="{{'/assets/img/icons/nav/youtube.svg' | absolute_url}}" />
      <span>Youtube</span>
    </a>
    <a href="/fale-comigo">
      <img alt="Fale comigo" src="{{'/assets/img/icons/nav/contact.svg' | absolute_url}}" />
      <span>Fale comigo</span>
    </a>
    <a href="#">
      <img alt="Ir para o topo" src="{{'/assets/img/icons/nav/top.svg' | absolute_url}}" />
      <span>Ir para o topo</span>
    </a>
  </nav>
</div>