<footer id="footer" class="mt-120">
  <header class="heading">
    <h2>Acompanhe no instagram</h2>
    <h3>
      <a
        href="https://www.instagram.com/mrcaricati/"
        target="_blank"
        rel="noopener noreferrer"
      >
        mrcaricati
      </a>
    </h3>
  </header>
  <div class="ig-thumbs max-width">
    <a
      href="https://www.instagram.com/p/CGVvYCYl4K7/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Post no instagram olhando o rio"
    >
      <img
        loading="lazy"
        alt="olhando o rio"
        src="/assets/img/ig/121447504_181256993492389_2357814489870054900_n.jpg"
      />
    </a>
    <a
      href="https://www.instagram.com/p/CGXZXxAl0ES/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Post no instagram olhando o por do sol, com uma cerveja e um capacete"
    >
      <img
        loading="lazy"
        alt="por do sol, cerveja e um capacete"
        src="/assets/img/ig/121483754_704591540186530_737293537569382644_n.jpg"
      />
    </a>
    <a
      href="https://www.instagram.com/p/CKpfQY3FMr_/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Post no instagram em frente a uma cachoeira"
    >
      <img
        loading="lazy"
        alt="Em frente a uma cachoeira"
        src="/assets/img/ig/144003286_247705033551684_8124073895610643096_n.jpg"
      />
    </a>
    <a
      href="https://www.instagram.com/p/CKpseuSFqBy/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Post no instagram dentro de uma caverna"
    >
      <img
        loading="lazy"
        alt="Dentro de uma caverna"
        src="/assets/img/ig/144344960_1064266320760462_273233384627381840_n.jpg"
      />
    </a>
  </div>

  <ul class="partners">
    <li><img src="/assets/img/partners/nationalpark.png" alt="National Park" /></li>
    <li><img src="/assets/img/partners/adventure-begins.png" alt="Adventure Begins" /></li>
    <li><img src="/assets/img/partners/campfire-stories.png" alt="Campfire Stories" /></li>
    <li><img src="/assets/img/partners/adventure-await.png" alt="Adventure awaits" /></li>
    <li><img src="/assets/img/partners/expedition.png" alt="Expedition 2015" /></li>
  </ul>

  <div class="footer-bottom">
    <img src="/assets/img/logo.png" alt="Mr. Caricati" />
    <p>© 2025 Todos os direitos reservados.</p>
  </div>

  <div id="goto-top">
    <button type="button">
      <img src="/assets/img/icons/nav/top.svg" />
    </button>
  </div>
</footer>
