<header id="header">
  <nav>
    <a href="/">
      <span>Início</span>
    </a>
    <a
      href="https://www.youtube.com/@mrcaricati"
      target="_blank"
      rel="noopener noreferrer">
      <span>YouTube</span>
    </a>
  </nav>
  <div></div>
  <nav>
    <a href="/gameplay">
      <span>Gameplay</span>
    </a>
    <a href="/fale-comigo">
      <span>Contato</span>
    </a>
  </nav>
  <a href="/" class="logo-link">
    <img src="{{'assets/img/logo.svg' | absolute_url}}" alt="Mr. Caricati" />
  </a>
</header>
