<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ description | default: site.description }}">
<meta name="keywords" content="{{ page.tags | default: site.keywords | join: ',' }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@400;700&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/meta/apple-touch-icon.png' | absolute_url}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/meta/favicon-32x32.png' | absolute_url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/meta/favicon-16x16.png' | absolute_url}}">
<link rel="manifest" href="{{'/assets/meta/site.webmanifest' | absolute_url}}">