#about-me {
  padding-top: 6rem;

  h1 {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;

    span {
      color: $primary-color;
    }
  }

  .quote {
    position: relative;
    z-index: 2;
    background: url("/assets/img/about-me/bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 6rem 0;
    margin: 6rem 0 0;
    text-align: center;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);

    p {
      font-size: 1.25rem;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
  }

  .my-gallery {
    padding: 6rem 0;
    margin-bottom: 6rem;
    background-color: $overlay-color;
  }
}
