.modal {
  margin: 2rem auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: $modal-bg-color;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.3);

  &.modal-alert {
    max-width: 420px;
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      color: $text-color;
    }

    button {
      margin-right: 0.625rem;
    }
  }
}

#gallery-modal {
  .close-gallery-modal {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 32px;
    }
  }

  #gallery-modal-content {
    text-align: center;
    margin: 5rem auto 0;
    padding: 0 2rem;

    img {
      max-width: 100%;
      border-radius: 0.25rem;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    }
  }
}

.btn {
  color: $white-color;
  font-size: 0.75rem;
  position: relative;
  font-family: $default-font-family;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem 0.375rem;
  cursor: pointer;
  transition: ease $transition-time;
  transition-property: background-color transform box-shadow;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  &.animete-hover-icon-right svg {
    transform: translate(0, 1px);
    transition: ease $transition-time transform;
  }

  &.animete-hover-icon-right:hover svg {
    transform: translate(5px, 1px);
  }

  &.large {
    font-size: 15px;
    border-width: 2px;
    padding: 1rem 1.625rem 0.625rem;
  }

  &:hover {
    color: $white-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }

  &.primary {
    color: $body-color;
    border-color: $white-color;
    background-color: $white-color;

    &:hover {
      color: $body-color;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }
}

.videos-x-list {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 230px);

  .video-item {
    width: 230px;
    position: relative;
    height: 350px;
    overflow: hidden;
    transition: all ease $transition-time;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover, &:focus {
      box-shadow: 0 0 0 4px $primary-color;
      border-radius: 2px;
      outline: none;
    }

    h3 {
      color: $white-color;
      line-height: 30px;
      width: calc(100% - 2rem);
      font-size: 1.5rem;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  @media screen and (max-width: $max-width-container) {
    grid-auto-flow: column;
    overflow: auto;
  }
}

.heading {
  text-align: center;
  margin-bottom: 4.375rem;

  h1 {
    padding-top: 6rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.ig-thumbs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  a {
    position: relative;
    display: block;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/ig.svg") no-repeat #000000 center center;
      background-size: 48px;
      border-radius: $box-radius;
      opacity: 0;
      transition: all ease $transition-time;
    }

    &:hover::after {
      opacity: 0.5;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

.frame-video-container {
  background-color: $video-bg-color;

  .full-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 500px) {
    padding-top: 95px;
  }
}

.single-video-container {
  max-height: 100vh;

  @media screen and (min-width: $max-width-container) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.photo-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2rem;

  @media screen and (max-width: 660px) {
    grid-template-columns: 1fr;

    .photo {
      margin-bottom: 1rem;
    }

    .photo-legend {
      order: 1;
    }
  }

  figure {
    width: 100%;
  }
}

.photo {
  position: relative;

  & > img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2px;
  }

  .btn-img-full-screen {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 0;

  figure {
    overflow: hidden;
    display: flex;

    &:hover {
      transition: ease-out all 350ms;
      box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
    }
  }

  figure:hover img {
    transform: scale(1.025);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: ease-out all 350ms;
    transform: scale(1);
  }

  @media screen and (max-width: 650px) {
    display: block;

    .figure {
      margin-bottom: 1rem;
    }
  }
}

.video-section {
  height: 100vh;
  display: flex;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;

  &.garage1 {
    background-image: url("../img/bg/garage.jpg");
  }

  &.garage2 {
    background-image: url("../img/bg/garage2.jpg");
  }

  &.garage3 {
    background-image: url("../img/bg/garage3.jpg");
  }

  &.garage4 {
    background-image: url("../img/bg/garage4.jpg");
  }

  &.garage5 {
    background-image: url("../img/bg/garage5.jpg");
  }

  &.food1 {
    background-image: url("../img/bg/food.jpg");
  }

  &.food2 {
    background-image: url("../img/bg/food2.jpg");
  }

  &.food3 {
    background-image: url("../img/bg/food3.jpg");
  }

  &.food4 {
    background-image: url("../img/bg/food4.jpg");
  }

  &.food5 {
    background-image: url("../img/bg/food5.jpg");
  }

  .video-section-video {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  }
}

.map {
  height: 720px;
  background-color: rgba(0, 0, 0, 0.1);
}

.road-timeline {
  position: relative;
  padding: 150px 0 100px;

  .street {
    width: 72px;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    z-index: 5;

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      height: 80px;
    }

    &::before {
      top: 0;
      background: linear-gradient(to top, rgba(13, 13, 14, 0), rgb(13, 13, 14));
    }

    &::after {
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(13, 13, 14, 0),
        rgb(13, 13, 14)
      );
    }

    padding: 10px 0;
    background: url("../img/street.svg") repeat-y center center;
    order: 2;

    .moto {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/moto.png") repeat-y;
    }

    .pickup {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/pickup-gray.png") repeat-y;
      background-size: cover;
    }
  }

  .stories {
    position: relative;
    order: 1;

    .transit-board {
      background-color: #108d4b;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(calc(-100% - 4rem));

      &.begin {
        top: -8rem;
      }

      &.end {
        bottom: -7.25rem;
      }

      &::after,
      &::before {
        content: "";
        width: 4px;
        height: 1rem;
        position: absolute;
        top: 100%;
        background-color: #ccc;
      }

      &::before {
        left: 1rem;
      }

      &::after {
        right: 1rem;
      }

      span {
        color: $white-color;
        border: 2px solid #66b38a;
        padding: 10px 20px;
        margin: 4px;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    article {
      margin-bottom: 6.5rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8rem;
      align-items: center;

      h3 {
        font-size: 1.75rem;
        margin-bottom: 8px;
      }

      .infos {
        font-size: 14px;
        color: $text-light-color;
        margin-bottom: 1rem;
        display: flex;

        & > *:not(:last-child) {
          margin-right: 0.625rem;
        }

        time {
          background: url("../img/icons/time.svg") no-repeat 0 2px;
          padding-left: 22px;
          background-size: 1rem;
        }

        address {
          font-style: normal;
          display: inline;
          background: url("../img/icons/location.svg") no-repeat 0 2px;
          padding-left: 22px;
          background-size: 1rem;
        }
      }

      &:nth-child(odd) {
        .text {
          order: 0;
          text-align: right;

          .infos {
            justify-content: flex-end;

            time {
              order: 2;
              margin-left: 0.625rem;
              margin-right: 0;
            }

            address {
              order: 1;
            }
          }
        }
        .photo {
          order: 1;
        }
      }

      .photo {
        img {
          height: 100%;
        }
      }
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 880px) {
    padding-left: 5rem;

    .street {
      left: 0;
      transform: translateX(0);
    }

    .stories {
      .transit-board {
        left: 10rem;
      }

      article {
        display: block;

        .text {
          margin-top: 1.5rem;
          text-align: left !important;
        }

        .photo img {
          height: 100%;
        }

        .infos {
          display: block;

          & > * {
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding-left: 4rem;

    .street {
      width: 50px;

      .vehicle {
        transform: scale(0.7);
      }
    }

    .stories {
      article {
        .infos {
          & > * {
            display: block;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

.simple-quote {
  min-height: 50vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  & .inner-quotes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
  }

  p {
    font-size: 2rem;
    max-width: $max-width-container;
    font-family: $heading-font-family;
    margin: 0 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    span {
      padding: 8px 10px;
    }
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;

  & > div {
    min-width: 100px;
    text-align: center;

    h3 {
      font-size: 18px;
      color: $text-light-color;
    }

    p {
      font-size: 24px;
    }
  }
}

.hiking-details {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  header {
    margin-bottom: 1rem;
  }

  figure {
    flex: 2;
    img {
      width: 100%;
      display: block;
    }
  }

  .details {
    flex: 1;
  }

  ul {
    color: $text-color;
    list-style: none;

    li {
      margin-right: 1rem;
      margin-bottom: 0.875rem;
      padding-left: 32px;
      border-radius: 4px;

      background-position: left center;
      background-repeat: no-repeat;
      background-size: 18px;

      &.time {
        background-image: url("../img/icons/time.svg");
        background-size: 17px;
      }

      &.distance {
        background-image: url("../img/icons/walk.svg");
        background-size: 20px;
      }

      &.difficulty {
        background-image: url("../img/icons/level.svg");
      }

      &.brightness {
        background-size: 20px;
        background-image: url("../img/icons/brightness.svg");
      }

      &.rain {
        background-size: 20px;
        background-image: url("../img/icons/rain.svg");
      }

      &.money {
        background-image: url("../img/icons/money.svg");
      }

      &.date {
        background-image: url("../img/icons/date.svg");
      }
    }
  }
}
