#header {
  height: 100px;
  background:  repeat $body-color;
  background-image: linear-gradient(15deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%), url('/assets/img/body.jpg');
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.45), inset 0 -8px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1001;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;

  & > nav:first-child {
    text-align: right;
  }

  & > nav:last-child {
    text-align: left;
  }

  nav {
    display: flex;
    margin-top: 50px;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $default-font-family;

    &:first-child {
      justify-content: flex-end;
    }

    a {
      color: $text-light-color;
      position: relative;
      z-index: 2;
      text-transform: uppercase;
      transition: 0.3s ease-in-out;
      margin: 0 1rem;

      &:hover {
        color: $white-color;
      }

      span {
        display: block;
        position: relative;
        transition: 0.3s ease-in-out;
        white-space: nowrap;
        z-index: 2;

        &:before {
          content: '';
          transform: scale(0.2) translateX(-50%);
          transform-origin: left center;
          z-index: -1;
          transition: 0.3s ease-in-out;
          opacity: 0;
          position: absolute;
          top: -1.875rem;
          left: 50%;
          height: 70px;
          width: 70px;
          background: transparent;
          border-radius: 100px;
          border-top: 0.25rem solid rgba(255, 255, 255, 0.1);
          border-bottom: 0.25rem solid rgba(255, 255, 255, 0.1);
          border-left: 0.25rem solid transparent;
          border-right: 0.25rem solid transparent;
        }
      }

      &:hover span:before {
        opacity: 1;
        transition: 0.3s ease-in-out;
        transform: scale(0.7) translateX(-50%);
      }
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 100%;
    background: $primary-color;
  }

  .logo-link {
    position: absolute;
    left: 50%;
    top: 0.5rem;
    z-index: 100;
    transform: translateX(-50%);
    transition: ease 300ms transform;

    &:hover {
      transform: translateX(-50%) scale(1.05);
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
  }
}
