#header {
  width: 694px;
  height: 68px;
  background: url('../img/header-bg.svg') no-repeat top center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  display: grid;
  grid-template-columns: 1fr 140px 1fr;

  & > nav:first-child {
    text-align: right;
  }

  & > nav:last-child {
    text-align: left;
  }

  nav {
    font-size: 14px;
    text-transform: uppercase;
    font-family: $default-font-family;
    padding-top: 20px;
    letter-spacing: 0.05rem;

    &:first-child {
      justify-content: flex-end;
    }

    a {
      color: rgba(255, 255, 255, 0.75);
      position: relative;
      z-index: 2;
      text-transform: uppercase;
      transition: 0.3s ease-in-out;
      margin: 0 0.5rem;
      padding: 0.625rem 0.75rem;

      &:hover {
        color: $white-color;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
      }
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .logo-link {
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-0.5rem);
    transition: ease 300ms transform;

    img {
      width: 120px;
    }

    &:hover {
      transform: translateX(-50%) scale(1.05) translateY(-0.5rem);
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
  }
}
