#links {
  padding: 2rem;

  header {
    text-align: center;
    margin-bottom: 2rem;

    img {
      width: 60px;
    }
  }

  footer {
    margin-top: 2rem;
    text-align: center;
    color: $text-light-color;
  }

  p {
    margin: 0;
  }

  .social-icon {
    width: 32px;
  }

  nav {
    margin: 0 auto;
    max-width: 400px;

    a {
      display: grid;
      grid-template-columns: 38px 1fr auto;
      align-items: center;
      justify-content: center;
      color: $text-color;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.06);
      margin-bottom: 1rem;
      column-gap: 1rem;

      .arrow-icon {
        transition: ease transform 250ms;
      }

      &:hover .arrow-icon {
        transform: translateX(0.375rem);
      }

      span {
        display: block;
        line-height: 1;
      }

      .name {
        font-weight: bold;

        &.mrcaricati {
          transform: translateY(5px);
        }
      }

      .uname {
        font-size: 14px;
        color: $text-light-color;
        margin-top: 6px;
      }
    }
  }
}