$max-width-container: 1250px;
$street-line: #d19b1c;
$body-color: #0d0d0e;
$white-color: #ffffff;
$primary-color: #ffb703;
$primary-color-hover: #ffc634;
$primary-color-shadow: rgba(255, 198, 52, 0.2);
$text-heading-color: #eff0f3;
$text-color: #d7d9df;
$dark-bg-color: #080808;
$overlay-color: rgba(8, 8, 8, 0.5);
$text-light-color: #646a7a;
$video-bg-color: #000;
$modal-bg-color: #232327;
$gray-text-color: #2d2d2e;
$gray-3-color: #c7c7c7;
$gray-4-color: #eeeeee;
$gray-5-color: #f9f9f9;
$box-contrast-color: #18181b;

$transition-time: 350ms;
$box-radius: 10px;
$heading-font-family: "Archivo Black", sans-serif;
$default-font-family: "Cambay", sans-serif;