$max-width-container: 1250px;
$street-line: #d19b1c;
$body-color: #0d0d0e;
$white-color: #ffffff;
$primary-color: #FF6600;
$primary-color-hover: #ff7f29;
$primary-color-shadow: rgba(255, 133, 52, 0.2);
$text-heading-color: #eff0f3;
$text-color: #d7d9df;
$dark-bg-color: #080808;
$overlay-color: rgba(8, 8, 8, 0.5);
$text-light-color: #94918c;
$video-bg-color: #000;
$modal-bg-color: #232327;
$gray-text-color: #504e4c;
$gray-3-color: #c7c7c7;
$gray-4-color: #eeeeee;
$gray-5-color: #f9f9f9;
$box-contrast-color: rgba(255, 255, 255, 0.05);
$tag-bg-color: #504e4c;
$header-line-color: linear-gradient(to bottom, #AA643E 10%,#B14002 26%,#B14002 85%);

$transition-time: 350ms;
$box-radius: 10px;
$heading-font-family: "Archivo Black", sans-serif;
$default-font-family: "Cambay", sans-serif;