---
---

* {
  padding: 0;
  margin: 0;
}

$max-width-container: 1250px;
$street-line: #d19b1c;
$body-color: #0d0d0e;
$white-color: #ffffff;
$primary-color: #ff6000;
$primary-color-hover: #ff5100;
$text-heading-color: #eff0f3;
$text-color: #d7d9df;
$dark-bg-color: #080808;
$text-light-color: #646a7a;
$video-bg-color: #000;
$gray-3-color: #c7c7c7;
$gray-4-color: #eeeeee;
$gray-5-color: #f9f9f9;
$box-contrast-color: #18181b;

$transition-time: 350ms;
$box-radius: 10px;
$heading-font-family: "Bebas Neue", sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  color: $text-color;
  font: normal 16px "Oxygen", sans-serif;
  background-color: $body-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-heading-color;
  font-family: $heading-font-family;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  line-height: 100%;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}

h1.pitch-heading {
  font-size: 4.5rem;
  line-height: 1.2;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  max-width: 900px;

  @media screen and (max-width: 400px) {
    font-size: 3rem;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

// Container dimensions

.max-width {
  max-width: $max-width-container;
  margin: 0 auto;

  @media screen and (max-width: $max-width-container) {
    margin: 0 2rem;
  }

  @media screen and (max-width: 550px) {
    margin: 0 1rem;
  }
}

.full-height {
  min-height: 100vh;
}

img.img-full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.anim-pulse-smooth {
  animation-name: stretch;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

  @keyframes stretch {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
}

// positions
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

// Colors

.white-text-color {
  color: $white-color;
}

.bg-contrast {
  background-color: $box-contrast-color;
}

// flex items

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-x-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Margin and padding

.margin-bottom-8,
.mb-8 {
  margin-bottom: 0.5rem;
}

.margin-bottom-16,
.mb-16 {
  margin-bottom: 1rem;
}

.margin-bottom-32,
.mb-32 {
  margin-bottom: 2rem;
}

.margin-bottom-72,
.mb-72 {
  margin-bottom: 4.5rem;
}

.margin-bottom-120,
.mb-120 {
  margin-bottom: 7.5rem;
}

.margin-top-120,
.mt-120 {
  margin-top: 7.5rem;
}

.padding-bottom-72,
.pb-72 {
  padding-bottom: 4.5rem;
}

.padding-top-72,
.pt-72 {
  padding-top: 4.5rem;
}

.padding-bottom-120,
.pb-120 {
  padding-bottom: 7.5rem;
}

.padding-top-120,
.pt-120 {
  padding-top: 7.5rem;
}

// Z-index

.z-index-5 {
  z-index: 5;
}

.z-index-10 {
  z-index: 10;
}

.z-index-15 {
  z-index: 15;
}

.z-index-30 {
  z-index: 30;
}

// Shadows
.box-shadow {
  box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.25);
}

#header {
  background-color: $body-color;
  .max-width {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 42px;
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .social-media {
    display: flex;
    align-items: center;

    a {
      margin-left: 1rem;
    }
  }
}

#footer {
  .heading {
    padding: 0;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .partners {
    text-align: center;
    background-color: $dark-bg-color;
    padding: 2rem 1rem;
    margin: 5rem 0 3rem;

    img {
      height: 100px;
      margin: 0 1.5rem;
      opacity: 0.6;
      transition: ease-in-out 250ms all;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-bottom: 3rem;

    p {
      color: $text-light-color;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }
}

.float-menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  // backdrop-filter: blur(2px);

  button.btn-main-menu {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: ease all 250ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }

    img {
      width: 4rem;
    }
  }

  nav {
    width: 64px;
    text-align: center;
    padding: 10px 0;
    display: none;

    a {
      display: block;
      transition: ease all 250ms;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        transform: scale(1.1);

        span {
          visibility: visible;
          opacity: 1;
        }
      }

      span {
        position: absolute;
        font-size: 0.875rem;
        top: 50%;
        left: 100%;
        transform: translateY(-14px);
        padding: 4px 8px;
        color: $text-color;
        background-color: $box-contrast-color;
        white-space: nowrap;
        visibility: hidden;
        opacity: 0;
        border-radius: 4px;
        transition: ease all 300ms;
      }
    }

    img {
      width: 3.5rem;
    }
  }
}

// Components

.btn {
  height: 44px;
  color: $text-color;
  font-size: 1.25rem;
  letter-spacing: 0.0938rem;
  font-family: $heading-font-family;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  background-color: $gray-3-color;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all ease $transition-time;
  border: 2px solid $gray-3-color;

  &:hover {
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);
  }

  &.primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    transition: ease all 250ms;

    &:hover {
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
      transform: scale(1.1);
    }
  }

  &.large {
    height: 46px;
    font-size: 1.5rem;
    padding: 0 1.25rem;
  }
}

.videos-x-list {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 230px);

  .video-item {
    position: relative;
    height: 350px;
    overflow: hidden;
    transition: all ease $transition-time;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    }

    h3 {
      color: $white-color;
      line-height: 30px;
      width: calc(100% - 2rem);
      font-size: 1.5rem;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }
}

.heading {
  text-align: center;
  margin-bottom: 4.375rem;

  h1 {
    padding-top: 6rem;
  }

  p {
    font-size: 1.125rem;
  }
}

.ig-thumbs {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  a {
    position: relative;
    display: block;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/ig.svg") no-repeat #000000 center center;
      background-size: 48px;
      border-radius: $box-radius;
      opacity: 0;
      transition: all ease $transition-time;
    }

    &:hover::after {
      opacity: 0.5;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

.frame-video-container {
  background-color: $video-bg-color;

  .full-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    // height: 56.25%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.single-video-container {
  max-height: 100vh;

  @media screen and (min-width: $max-width-container) {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.photo-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2rem;

  @media screen and (max-width: 660px) {
    grid-template-columns: 1fr;

    .photo {
      margin-bottom: 1rem;
    }

    .photo-legend {
      order: 1;
    }

    & > .photo-legend:first-child {
      text-align: left !important;
    }
  }

  figure {
    width: 100%;
  }

  & > .photo-legend:first-child {
    text-align: right;
  }
}

.photo {
  position: relative;

  & > img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 2px;
  }

  .btn-img-full-screen {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  padding: 0;
  min-height: 100vh;

  figure:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  figure:nth-child(2),
  figure:nth-child(3) {
    grid-column: span 1;
  }

  figure:nth-child(4),
  figure:nth-child(5) {
    grid-column: span 1;
  }

  figure:nth-child(6),
  figure:nth-child(7),
  figure:nth-child(8) {
    grid-column: span 3;
  }

  figure:nth-child(9),
  figure:nth-child(10) {
    grid-column: span 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 650px) {
    display: block;

    .figure {
      margin-bottom: 1rem;
    }
  }
}

.food-recipes {
  height: 100vh;
  display: flex;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;

  &.bg1 {
    background-image: url("../img/bg/food.jpg");
  }

  &.bg2 {
    background-image: url("../img/bg/food2.jpg");
  }

  &.bg3 {
    background-image: url("../img/bg/food3.jpg");
  }

  &.bg4 {
    background-image: url("../img/bg/food4.jpg");
  }

  &.bg5 {
    background-image: url("../img/bg/food5.jpg");
  }

  .food-recipes-video {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  }
}

.map {
  height: 720px;
  background-color: rgba(0, 0, 0, 0.1);
}

.road-timeline {
  position: relative;
  padding: 150px 0 100px;

  .street {
    width: 72px;
    height: 100%;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    z-index: 5;

    &::before,
    &::after {
      content: "";
      width: 100%;
      position: absolute;
      left: 0;
      height: 80px;
    }

    &::before {
      top: 0;
      background: linear-gradient(to top, rgba(13, 13, 14, 0), rgb(13, 13, 14));
    }

    &::after {
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(13, 13, 14, 0),
        rgb(13, 13, 14)
      );
    }

    padding: 10px 0;
    background: url("../img/street.svg") repeat-y center center;
    order: 2;

    .moto {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/moto.png") repeat-y;
    }

    .pickup {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/pickup-gray.png") repeat-y;
      background-size: cover;
    }
  }

  .stories {
    position: relative;
    order: 1;

    .transit-board {
      background-color: #108d4b;
      border-radius: 2px;
      position: absolute;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(calc(-100% - 4rem));

      &.begin {
        top: -8rem;
      }

      &.end {
        bottom: -7.25rem;
      }

      &::after,
      &::before {
        content: "";
        width: 4px;
        height: 1rem;
        position: absolute;
        top: 100%;
        background-color: #ccc;
      }

      &::before {
        left: 1rem;
      }

      &::after {
        right: 1rem;
      }

      span {
        color: $white-color;
        border: 2px solid #66b38a;
        padding: 10px 20px;
        margin: 4px;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    article {
      margin-bottom: 6.5rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8rem;
      align-items: center;
      // box-shadow: 12px 12px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 2.5rem;
        margin-bottom: 8px;
      }

      .infos {
        font-size: 14px;
        color: $text-light-color;
        margin-bottom: 1rem;
        display: flex;

        & > *:not(:last-child) {
          margin-right: 0.625rem;
        }

        time {
          background: url("../img/icons/time.svg") no-repeat left center;
          padding-left: 22px;
          background-size: 1rem;
        }

        address {
          font-style: normal;
          display: inline;
          background: url("../img/icons/location.svg") no-repeat left center;
          padding-left: 22px;
          background-size: 1rem;
        }
      }

      &:nth-child(odd) {
        .text {
          order: 0;
          text-align: right;

          .infos {
            justify-content: flex-end;

            time {
              order: 2;
              margin-left: 0.625rem;
              margin-right: 0;
            }

            address {
              order: 1;
            }
          }
        }
        .photo {
          order: 1;
        }
      }

      .text {
        // padding: 1.25rem;
        // background-color: $box-contrast-color;
      }

      .photo {
        img {
          height: 100%;
        }
      }
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 880px) {
    padding-left: 5rem;

    .street {
      left: 0;
      transform: translateX(0);
    }

    .stories {
      .transit-board {
        left: 0.5rem;
      }

      article {
        display: block;

        .text {
          margin-top: 1.5rem;
          text-align: left !important;
        }

        .photo img {
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding-left: 4rem;

    .street {
      width: 50px;

      .vehicle {
        transform: scale(0.7);
      }
    }

    .stories {
      .transit-board {
        left: 0;
      }

      article {
        .infos > * {
          display: block;
          margin-bottom: 3px;
        }
      }
    }
  }
}

.simple-quote {
  min-height: 50vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  & .inner-quotes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
  }

  p {
    font-size: 2rem;
    max-width: $max-width-container;
    font-family: $heading-font-family;
    margin: 0 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    span {
      padding: 8px 10px;
    }
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;

  & > div {
    min-width: 100px;
    text-align: center;

    h3 {
      font-size: 18px;
      color: $text-light-color;
    }

    p {
      font-size: 24px;
    }
  }
}

.hiking-details {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  header {
    margin-bottom: 1rem;
  }

  figure {
    flex: 2;
    img {
      width: 100%;
      display: block;
    }
  }

  .details {
    flex: 1;
  }

  ul {
    color: $text-color;
    list-style: none;

    li {
      margin-right: 1rem;
      margin-bottom: 0.875rem;
      padding-left: 32px;
      border-radius: 4px;
      
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 18px;

      &.time {
        background-image: url("../img/icons/time.svg");
        background-size: 17px;
      }

      &.distance {
        background-image: url("../img/icons/walk.svg");
        background-size: 20px;
      }

      &.difficulty {
        background-image: url("../img/icons/level.svg");
      }

      &.brightness {
        background-size: 20px;
        background-image: url("../img/icons/brightness.svg");
      }

      &.rain {
        background-size: 20px;
        background-image: url("../img/icons/rain.svg");
      }

      &.money {
        background-image: url("../img/icons/money.svg");
      }

      &.date {
        background-image: url("../img/icons/date.svg");
      }
    }
  }
}
