---
---

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

$body-color: #F4F5FB;
$body-contrast-color: #E7E8EF;
$white-color: #ffffff;
$primary-color: #FF3100;
$primary-color-hover: #f4461b;
$text-color: #18202E;
$dark-bg-color: #18202E;
$text-light-color: #626E84;
$dark-text-color: #0D0F13;
$gray-3-color: #c7c7c7;
$gray-4-color: #eeeeee;
$gray-5-color: #f9f9f9;

$transition-time: 350ms;
$box-radius: 10px;
$heading-font-family: "Oswald", "Nunito", sans-serif;

body {
  color: $text-color;
  font: normal 16px "Nunito", sans-serif;
  background-color: $body-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

h1.pitch-heading {
  font-size: 3.625rem;
  line-height: 1.2;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

// Container dimensions

.max-width {
  max-width: 1100px;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    margin: 0 2rem;
  }

  @media screen and (max-width: 550px) {
    margin: 0 1rem;
  }
}

.full-height {
  min-height: 100vh;
}

img.img-full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// positions
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Colors

.white-text-color {
  color: $white-color;
}

.bg-contrast {
  background-color: $body-contrast-color;
}

// flex items

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-x-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Margin and padding

.margin-bottom-8 {
  margin-bottom: 0.5rem;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-bottom-32 {
  margin-bottom: 2rem;
}

.margin-bottom-72 {
  margin-bottom: 4.5rem;
}

.margin-bottom-120 {
  margin-bottom: 7.5rem;
}

.margin-top-120 {
  margin-top: 7.5rem;
}

.padding-bottom-72 {
  padding-bottom: 4.5rem;
}

.padding-top-72 {
  padding-top: 4.5rem;
}

.padding-bottom-120 {
  padding-bottom: 7.5rem;
}

.padding-top-120 {
  padding-top: 7.5rem;
}

// Z-index

.z-index-5 {
  z-index: 5;
}

.z-index-10 {
  z-index: 10;
}

.z-index-15 {
  z-index: 15;
}

.z-index-30 {
  z-index: 30;
}

// Shadows
.box-shadow {
  box-shadow: 0 4px 10px 6px rgba(0, 0, 0, 0.25);
}

#header {
  background-color: $dark-bg-color;
  .max-width {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 42px;
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  .social-media {
    display: flex;
    align-items: center;
    
    a {
      margin-left: 1rem;
    }
  }
}

#footer {
  height: 5rem;
  background-color: $dark-bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-stories {
  ul {
    display: flex;
    cursor: pointer;

    li {
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      z-index: 2;

      &:not(.count) {
        background: linear-gradient(to right, $primary-color, #005eff);
      }

      &:not(:last-child) {
        margin-right: -16px;
      }
  
      &:not(.count)::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 50%;
        background-color: $dark-bg-color;
      }

      &.count {
        width: 32px;
        height: 32px;
        background-color: $primary-color;
        color: $body-color;
        padding: 0;
        font-size: 14px;
        font-weight: bold;
      }
  
      & > img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 1;
      }
    }
  }
}

// Components

.btn {
  height: 44px;
  color: $text-color;
  font-size: 1.125rem;
  font-family: $heading-font-family;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  background-color: $gray-3-color;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all ease $transition-time;
  border: 2px solid $gray-3-color;

  &:hover {
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);
  }

  &.primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      border-color: $primary-color-hover;
    }
  }

  &.large {
    height: 46px;
    font-size: 1.25rem;
    padding: 0 1.25rem;
  }
}

.videos-x-list {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 230px);

  .video-item {
    position: relative;
    height: 350px;
    overflow: hidden;
    border-radius: $box-radius;
    transition: all ease $transition-time;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    }

    h3 {
      color: $white-color;
      line-height: 30px;
      width: calc(100% - 2rem);
      font-size: 1.5rem;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }
}

.heading {
  text-align: center;
  padding-top: 7.5rem;
  margin-bottom: 4.375rem;

  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}

.ig-thumbs {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  a {
    position: relative;
    display: block;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/icons/ig.svg") no-repeat #000000 center center;
      background-size: 48px;
      border-radius: $box-radius;
      opacity: 0;
      transition: all ease $transition-time;
    }

    &:hover::after {
      opacity: 0.5;
    }

    img {
      width: 100%;
      border-radius: $box-radius;
      display: block;
    }
  }
}

.top-video-container {
  background-color: $dark-text-color;
  .full-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    // height: 56.25%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.photo-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 3.125rem;

  @media screen and (max-width: 660px) {
    grid-template-columns: 1fr;

    .photo {
      margin-bottom: 1rem;
    }

    .photo-legend {
      order: 1;
    }

    & > .photo-legend:first-child {
      text-align: left !important;
    }
  }

  figure {
    width: 100%;
  }

  & > .photo-legend:first-child {
    text-align: right;
  }
}

.photo {
  position: relative;

  & > img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: $box-radius;
  }

  .btn-img-full-screen {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    right: 12px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }
}

.map {
  height: 600px;
  margin: 7.5rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.road-timeline {
  display: grid;
  grid-template-columns: 4.5rem 1fr;

  .street {
    position: relative;
    padding: 10px 0;
    background: url("../img/street.svg") repeat-y center center;
    border-radius: 2.25rem;

    .moto {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/moto.png") repeat-y;
    }

    .pickup {
      width: 53px;
      height: 113px;
      position: sticky;
      top: 50vh;
      transform: translateX(10px);
      background: url("../img/pickup-cs.png") repeat-y;
      background-size: cover;
    }
  }

  .stories {
    margin: 9rem 0 7rem 2rem;
    position: relative;

    .transit-board {
      background-color: #108d4b;
      border-radius: 8px;
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &.begin {
        top: -6.5rem;
      }

      &.end {
        bottom: -5rem;
      }

      &::after,
      &::before {
        content: "";
        width: 4px;
        height: 1rem;
        position: absolute;
        top: 100%;
        background-color: #ccc;
      }

      &::before {
        left: 1rem;
      }

      &::after {
        right: 1rem;
      }

      span {
        color: $white-color;
        border: 2px solid #66b38a;
        padding: 10px 20px;
        margin: 4px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    article {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: $box-radius;
      margin-bottom: 3rem;

      display: grid;
      grid-template-columns: 1fr 1.5fr;
      box-shadow: 12px 12px rgba(0, 0, 0, 0.05);

      h3 {
        font-size: 1.5em;
        margin-bottom: 8px;
      }

      .infos {
        font-size: 14px;
        color: $text-light-color;
        margin-bottom: 1rem;

        & > *:not(:last-child) {
          margin-right: 0.625rem;
        }

        time {
          background: url("../img/icons/time.svg") no-repeat left center;
          padding-left: 22px;
          background-size: 1rem;
        }

        address {
          font-style: normal;
          display: inline;
          background: url("../img/icons/location.svg") no-repeat left center;
          padding-left: 22px;
          background-size: 1rem;
        }
      }

      .text {
        padding: 1.25rem;
      }

      .photo img {
        height: 100%;
        border-radius: $box-radius 0 0 $box-radius;
      }

      @media screen and (max-width: 880px) {
        display: block;

        .photo img {
          height: 100%;
          border-radius: $box-radius $box-radius 0 0;
        }
      }
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: 50px 1fr;

    .street .moto {
      transform: scale(0.9);
    }

    .stories {
      margin-left: 1rem !important;
    }
  }

  @media screen and (max-width: 450px) {
    margin: 0;

    .street .moto {
      transform: scale(0.9);
    }

    .stories {
      margin-left: 0 !important;

      article {
        border-radius: 0;

        .photo img {
          border-radius: 0;
        }

        .infos > * {
          display: block;
          margin-bottom: 3px;
        }
      }

      .transit-board {
        left: 1rem;
      }
    }
  }
}
