<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include meta.html %}
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
  </head>
  <body>
    {% assign highlights = site.posts | where: "highlight", "true" %}
    <main>
      {% for post in highlights limit:1 %}
        <section
          id="pitch"
          class="full-height flex-all-center relative box-shadow overflow-hidden"
        >
          <img
            src="{{ post.pitchUrl }}"
            class="img-full-cover absolute anim-pulse-smooth"
            alt=""
          />
          <div class="flex-x-center relative z-index-5">
            <h1 class="pitch-heading text-center white-text-color margin-bottom-32">{{ post.title }}</h1>
            <a
              class="btn large animete-hover-icon-right"
              href="{{ post.url }}"
            >
              Acompanhar
              <svg class="float-right ml-10" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <polyline fill="none" points="16.4 7 21.5 12 16.4 17" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.5" x2="19.2" y1="12" y2="12"/>
                </g>
              </svg>
            </a>
          </div>
        </section>
      {% endfor %}
      {% include float-menu.html %}
      {% if site.posts.size > 0 %}
        <section class="padding-top-72 padding-bottom-72 bg-contrast">
          {% assign movies = site.posts | where_exp: "item", "item.tags contains 'movie'" %}

          {% if movies.size > 0 %}
            <div class="max-width videos-x-list mb-72">
              {% for post in movies %}
                <a class="video-item" href="{{ post.url }}">
                  <figure>
                    <img src="{{ post.thumbUrl }}" alt="{{ post.title }}" />
                  </figure>
                </a>
              {% endfor %}
            </div>
          {% endif %}


          {% assign gameplays = site.posts | where_exp: "item", "item.categories contains 'gameplay'" %}
          {% if gameplays.size > 0 %}
            <h3 class="max-width mb-16 heading-underscore font-size-18">Gameplay</h3>
            <div class="max-width videos-x-list">
              {% for post in gameplays %}
              <a class="video-item" href="{{ post.url }}">
                <figure>
                  <img src="{{ post.thumbUrl }}" alt="{{ post.title }}" />
                </figure>
              </a>
              {% endfor %}
            </div>
          {% endif %}
        </section>
      {% endif %}
      {% include footer.html %}
    </main>
    <div id="portal"></div>

    <script type="text/javascript" src="{{'assets/js/jquery.min.js' | absolute_url}}"></script>
    <script type="text/javascript" src="{{'assets/js/scripts.js' | absolute_url}}"></script>
  </body>
</html>
