<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include meta.html %}
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      type="text/javascript"
      src="{{'/assets/js/jquery.min.js' | absolute_url}}"
    ></script>
  </head>
  <body>
    <main>
      {% include header.html %} {% include first-video-page.html
      videourl=page.videoUrl %}
      <div id="gameplay" class="max-width">
        <header class="heading">
          <h1>{{ page.title }}</h1>
          {% if page.description.size > 0 %}
          <p>{{ page.description }}</p>
          {% endif %}
        </header>
        {{ content }}

        <section class="game-info">
          {% if page.game == 'battlefield1' %}
          <figure class="game-info-thumb">
            <img
              src="{{'assets/img/games/thumb/battlefield1.jpg' | absolute_url}}"
              alt="Battlefield 1"
            />
          </figure>
          <div>
            <h2>Battlefield 1</h2>
            <div class="tags">
              <span>FPS</span>
              <span>Tiro</span>
              <span>Querra</span>
              <span>Primeira pessoa</span>
            </div>
            <p>
              Battlefield 1 é um jogo de tiro em primeira pessoa ambientado na
              Primeira Guerra Mundial. Lançado em 2016, o jogo apresenta uma
              narrativa que explora diferentes frentes e aspectos do conflito
              global. A história é contada através de uma série de campanhas
              individuais, cada uma focada em diferentes personagens e eventos
              da guerra. O jogo leva os jogadores a viver batalhas épicas em
              locais históricos, como as trincheiras do Ocidente, as montanhas
              da Itália e os desertos da Arábia.
            </p>
          </div>
          {% endif %} {% if page.game == 'thesaboteur' %}
          <figure class="game-info-thumb">
            <img
              src="{{'assets/img/games/thumb/thesaboteur.jpg' | absolute_url}}"
              alt="Battlefield 1"
            />
          </figure>
          <div>
            <h2>The Saboteur</h2>
            <div class="tags">
              <span>Aventura</span>
              <span>FPS</span>
              <span>Mundo aberto</span>
              <span>Segunda guerra mundial</span>
            </div>
            <p>
              The Saboteur é um jogo de ação e aventura lançado em 2009 pela
              Pandemic Studios e publicado pela Electronic Arts. Ambientado na
              França ocupada durante a Segunda Guerra Mundial, o jogador
              controla Sean Devlin, um mecânico e corredor irlandês que se junta
              à Resistência Francesa para sabotar o exército nazista.
            </p>
            <p>
              O jogo combina exploração em mundo aberto, combate e furtividade.
              Um elemento visual marcante é o uso de cores: áreas sob controle
              nazista aparecem em preto e branco, enquanto regiões libertadas
              ganham cor. A jogabilidade envolve infiltrações, destruição de
              alvos inimigos e escalada de edifícios, incluindo a Torre Eiffel.
            </p>
          </div>
          {% endif %} {% if page.game == 'scum' %}
          <figure class="game-info-thumb">
            <img
              src="{{'assets/img/games/thumb/scum.jpg' | absolute_url}}"
              alt="Battlefield 1"
            />
          </figure>
          <div>
            <h2>Scum</h2>
            <div class="tags">
              <span>Sobrevivencia</span>
              <span>Apocalipse</span>
              <span>Zumbi</span>
            </div>
            <p>
              SCUM é um jogo de sobrevivência de mundo aberto que se passa em
              uma ilha fictícia, onde você, como prisioneiro, participa de um
              reality show brutal. O jogo é conhecido por sua complexidade e
              simulação detalhada, exigindo que você gerencie aspectos como
              fome, sede, temperatura e estresse. Ele oferece um sistema de
              habilidades e atributos profundos, além de um vasto mundo aberto
              para explorar. Combinando elementos de PvE e PvP, SCUM proporciona
              uma experiência imersiva e desafiadora para quem gosta de jogos de
              sobrevivência realistas.
            </p>
          </div>
          {% endif %}
        </section>
      </div>
      {% include footer.html %}
    </main>
    <div id="portal"></div>

    <script
      type="text/javascript"
      src="{{'/assets/js/scripts.js' | absolute_url}}"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
  </body>
</html>
