<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include meta.html %}
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      type="text/javascript"
      src="{{'/assets/js/jquery.min.js' | absolute_url}}"
    ></script>
  </head>
  <body>
    <main>
      {% include float-menu.html %}
      {% include frame-video.html videourl=page.videoUrl %}
      <div id="gameplay" class="max-width">
        <header class="heading">
          <h1>{{ page.title }}</h1>
          {% if page.description.size > 0 %}
            <p>{{ page.description }}</p>
          {% endif %}
        </header>
        {{ content }}

        <section class="game-info">
          {% if page.game == 'battlefield1' %}
          <figure class="game-info-thumb">
            <img
              src="{{'assets/img/games/thumb/battlefield1.jpg' | absolute_url}}"
              alt="Battlefield 1"
            />
          </figure>
          <div>
            <h2>Battlefield 1</h2>
            <div class="tags">
              <span>FPS</span>
              <span>Tiro</span>
              <span>Querra</span>
              <span>Primeira pessoa</span>
            </div>
            <p>
              Battlefield 1 é um jogo eletrônico de tiro em primeira pessoa
              desenvolvido pela DICE e publicada pela Electronic Arts. É o
              décimo quarto jogo da franquia Battlefield. Foi lançado em outubro
              de 2016 para Microsoft Windows, PlayStation 4 e Xbox One. Foi um
              grande sucesso de crítica e vendas.
            </p>
          </div>
          {% endif %}
        </section>
      </div>
      {% include footer.html %}
    </main>
    <div id="portal"></div>

    <script
      type="text/javascript"
      src="{{'/assets/js/scripts.js' | absolute_url}}"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
  </body>
</html>
